<p id="notice"><%= notice %></p>
<% if session[:position] == nil%>
  <% session[:position] = 0 %>
<% end %>
<% last = (@ripples.length / 10) * 10 %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.limit(10).offset(session[:position]).each do |ripple| %>
      <tr>
        <td class="columnName">
          <% if ripple.url == "" %>
            <%= ripple.name %>
          <% else %>
            <a href=<%= ripple.url %>><%= ripple.name %></a>
          <% end %>
        </td>
        <td class="columnMessage"><%= ripple.message %></td>
        <td class="columnCreated"><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>
        <td><%= link_to 'Destroy', ripple, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Newest', setPosition_path(:value => 0), method: :post %> | 

<% if @ripples.length > 10 %>
  <%= link_to 'Previous 10 Ripples', changePosition_path(:value => -10), method: :post %> | 

  <% if (session[:position] + 10) > last %>
    <%= link_to 'Next 10 Ripples', setPosition_path(:value => last), method: :post %> | 
  <% else %>
    <%= link_to 'Next 10 Ripples', changePosition_path(:value => 10), method: :post %> | 
  <% end %>

  <%= link_to 'Oldest', setPosition_path(:value => last), method: :post %> | 
<% else %>
  Previous 10 Ripples | Next 10 Ripples | Oldest | 
<% end %>

<%= link_to 'New Ripple', new_ripple_path %>

