<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>​​Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.reverse_each do |ripple| %>
      <tr>
        <td class="columnName"><a href=<%= ripple.url %>><%= ripple.​​name %></a></td>
        <td class="columnMessage"><%= ripple.message %></td>
        <td class="columnCreated"><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>
        <td><%= link_to 'Destroy', ripple, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

Newest | Previous 10 Ripples | Next 10 Ripples | Oldest | <%= link_to 'New Ripple', new_ripple_path %>
