<p id="notice"><%= notice %></p>

<p>
  <% if @ripple.url == "" %>
    <%= @ripple.name %> said:
  <% else %>
    <a href=<%= @ripple.url %>><%= @ripple.name %></a> said:
  <% end %>
</p>

<p class="fancymessage">
  <%= @ripple.message %>
</p>

<%= link_to 'Back', ripples_path %>
